<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grafice.css">
    <title>Sebsor Data Visualization - Graphic</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Sensor Data Visualization</span>
    </nav>

    <!-- Container pentru imagine și buton -->
    <div class="image-container text-center"> <!-- Clasa text-center de la Bootstrap pentru a centra butonul -->
        <img src="{{ url_for('static', filename=image_path) }}" alt="Generated Chart">
        <div class="centered-btn">
            <button onclick="window.location.href='/'" class="back-btn">&#8592; Înapoi</button>
        </div>
    </div>
</body>
</html>
