<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sensor Data Visualization</title>
    <style>
        /* Stiluri CSS suplimentare dacă sunt necesare */
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Sensor Data Visualization</span>
    </nav>

    <div class="container">
        <br>
        <!-- Formular pentru alegerea parametrilor de mediu -->
       <form action="/generate_plot" method="post">
    <fieldset>
        <legend>Select Parameters for Visualization</legend><br>
        <div class="form-group">
            <label for="plot_type">Select Plot Type:</label>
            <select class="form-control" name="plot_type" id="plot_type">
                <option value="line">Line Chart</option>
                <option value="bar">Bar Chart</option>
                <option value="heatmap">Heatmap</option>
                <!-- Adaugă alte opțiuni aici -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Generate Chart</button>
    </fieldset>
</form>


        <!-- Container pentru grafic -->
        <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="sensorChart"></canvas>
        </div>
    </div>

    <!-- JavaScript și Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>