<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Sensor Data Visualization - Graphic</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Sensor Data Visualization</span>
    </nav>

    <div class="container mt-4"> <!-- Adăugat clasa container și margin top -->
        <div class="row">
            <div class="col-12 text-center"> <!-- Clasa col-12 pentru full width pe toate dispozitivele -->
                <img src="../static/images/SensorML.png" alt="banner" class="img-fluid"> <!-- Clasa img-fluid pentru a face imaginea responsive -->
                <div class="centered-btn">
                    <button onclick="window.location.href='/disease'" class="btn disease-btn my-2">Conditii optime de dezvoltare a bolilor</button>
                    <button onclick="window.location.href='/models'" class="btn models-btn my-2">Evolutie parametri de mediu in timp</button>
                    <button onclick="window.location.href='/prediction'" class="btn prediction-btn my-2">Riscul de boala</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
