<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sensor Data Visualization</title>
    <style>
        /* Stiluri CSS suplimentare dacă sunt necesare */
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Sensor Data Visualization</span>
    </nav>

    <div class="container">
        <br>
        <!-- Formular pentru alegerea parametrilor de mediu -->
        <form id="sensorForm">
            <fieldset>
                <legend>Select Parameters for Visualization</legend><br>
                <div class="form-group">
                    <label for="parameter">Select Parameter:</label>
                    <select class="form-control" id="parameter">
                        <option value="temp1">Temperature 1</option>
                        <option value="temp2">Temperature 2</option>
                        <option value="umid">Humidity</option>
                        <option value="pres">Pressure</option>
                        <!-- Adaugă alte opțiuni aici -->
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="updateChart()">Generate Chart</button>
                </div>
            </fieldset>
        </form>

        <!-- Container pentru grafic -->
        <div class="chart-container" style="position: relative; height:40vh; width:80vw;">
            <canvas id="sensorChart"></canvas>
        </div>
    </div>

    <!-- JavaScript și Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>