
.image-container {
    margin-top: 20px; /* ajustează după necesitate */
}

.centered-btn {
    margin-top: 30px; /* Ajustează acesta pentru a adăuga spațiu între imagine și buton */
}
        /* Stilizarea butonului */
.back-btn {
    border: none;
    background-color: #007bff; /* Alegeți orice culoare preferați */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 12px; /* Buton rotunjit */
}

        /* Stil pentru hover efect */
.back-btn:hover {
    background-color: #0056b3; /* Culoare mai închisă la hover */
    color: white;
}