body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    color: #333;
    margin-bottom: 20px;
}
.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-left:50px;
    width: 100%;
    max-width: 600px; /* Adjust as per your design */
}
.form-group {
    margin-bottom: 20px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.form-submit {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}
.form-submit:hover {
    background-color: #4cae4c;
}
.result {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.navbar {
    width: 100%; /* This ensures the navbar takes the full width of the viewport */
    margin-bottom: 0; /* Remove any margin below the navbar */
}

/* If you want to adjust the height or the font-size based on your preference: */
.navbar {
    height: 102px; /* Adjust the height as per your design requirement */
    font-size: 15px; /* Adjust the font size as per your design requirement */
}

/* Make sure the container class is not adding any unwanted padding or margin */
.container {
    width: 100%;
    max-width: none; /* This will ensure that container width is not restricted */
    padding: 0; /* Adjust padding if needed */
}

/* You can also add this to ensure any padding inside the navbar is removed */
.navbar-brand {
    padding: 0;
}